In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

In [10]:
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)

In [11]:
from sqlalchemy import create_engine

In [13]:
engine=create_engine('postgresql://root:root@pgdatabase:5432/ny_taxi')

In [14]:
print(pd.io.sql.get_schema(df, name='green_trips_2019',con=engine))

CREATE TABLE green_trips_2019 (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)